@import "./../../styles/bootstrap.scss";

.heroContainer {
  margin: 120px 0 56px;
}

.title {
  @include responsive-font-size(50px);
  font-weight: 900;
  text-align: center;
  margin: 0 0 30px;
}

.subtitle {
  @include responsive-font-size(20px);
  text-align: center;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 40px;
}

.shareContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  > div:first-child {
    margin-right: 36px;
  }

  a,
  a:hover {
    color: #585858;
  }

  i {
    margin-right: 10px;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, "lg")) {
  .inputEmail {
    width: 300px !important;
  }

  .title {
    max-width: 815px;
    margin: 0 auto 16px;
  }

  .subtitle {
    max-width: 640px;
    margin: 0 auto 40px;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .heroContainer {
    margin-top: 56px;
  }

  .formContainer {
    .inputEmail,
    button {
      text-align: center;
      width: 100%;
    }
  }
}
