@import "./../../styles/bootstrap.scss";

.headlineContainer {
  background: #422fd5;
  color: #fff;
  padding: 56px 0;
}

.title {
  @include responsive-font-size(50px);
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  margin: 0 0 16px;
}

.subtitle {
  @include responsive-font-size(20px);
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0 0 100px;
}

.image {
  display: flex;
  margin: 0 auto;
  width: 764px;
  object-fit: contain;
}

@media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .subtitle {
    margin: 0 0 56px;
  }
}
